xsdgen/testdata/indirect-ref.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://example.org/"
  targetNamespace="http://example.org/">
  <xs:complexType name="Type1">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" ref="ns:ReferencedType">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencedType">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="field1" nillable="false" type="xs:string">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReferencedType" type="ns:ReferencedType" />
</xs:schema>
